<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <style>
        *{
            margin:0;
            padding:0;            
            box-sizing: border-box;
        }
        @font-face {
            font-family: 'Internationalist';
            src: url('https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/Internationalist.otf?v=1721811667949');
        }        
        @font-face {
            font-family: 'InternationalistHollow';
            src: url('https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/Internationalist-Hollow.otf?v=1721811671191');
        }
        .code,.base{
            font-size: 150px;
        } 
        .software{
            font-size: 50px;
            font-family: sans-serif;
            font-weight: 100;
            color:lightgray;
            width:100%;
            text-align: center;
        }           
        .code{
            font-family: Internationalist;
            color: blue;
        }
        .base{
            color:orange;
            font-family: InternationalistHollow;
        }
        #logo{
            display:flex;
            position:relative;
        }
        body{
            width:100%;
            min-height:100vh;
            min-height:100svh;
            display: grid;
            place-content: center;
        }
        #url{
            position:relative;
            top:50px;
            border:1px solid black;
            text-align: center;
            font-family: sans-serif;
            font-size: 20px;
            width:250px;
            padding: 5px 0;
            border-radius:15px;
            margin:0 auto;
            box-shadow: 5px 5px 5px grey;
            cursor:pointer;
            background:orange;
        }
        .text{
          font-family:sans-serif;
          text-align:center;
        }
        .scrolling_text{
            top:155px;
        }
        .scrolling_logos{
            top:230px;
        }
        .scrolling_text,.scrolling_logos {
            width: 100%;
            overflow: hidden;
            display: flex;
            white-space: nowrap;
            position:absolute;
        }
        .text span {
            margin: 0 40px;
        }
        @keyframes animate_text {
            from {
              transform: translate3d(0, 0, 0);
            }
            to {
              transform: translate3d(-100%, 0, 0);
            }
        }
        @keyframes animate_logos {
            from {
              transform: translate3d(-100%, 0, 0);
            }
            to {
              transform: translate3d(0, 0, 0);
            }
        }
      
        .text {
            font-size: 20px;
            font-weight: 100;
            color: black;
            animation: animate_text 30s linear infinite;
        }    
        .logos {
            animation: animate_logos 30s linear infinite;
        }    
      
      .tech-logo{
        max-height:50px;
        margin:0 50px;
      }

      
      
  
      
      @media (590px <= width <= 875px){
        .code,.base{
            font-size: 100px;
        } 
        .software{
            font-size: 40px;
            padding-top:20px;
        }
        .text{
          font-size: 16px;
        }
        .scrolling_text{
            top:110px;
        }
        .scrolling_logos{
            top:190px;
        }          
      }

      
      @media (max-width:589px){
        .code,.base{
            font-size: 50px;
        } 
        .software{
            font-size: 30px;
            padding-top:20px;
        }
        .text{
          font-size:12px;
        }
        .scrolling_text{
            top:58px;
        }
        .scrolling_logos{
            top:120px;
        }          
      }
      
    </style>
  
<%    let tech = [
        '.HTML','MongoDB Atlas','.CSS','NPM','.JS',
        'Version Control', 'UI/UX', 'DNS',
        'MVC Architecture','.ENV','User Auth','.EJS','Server',
        '.JPG','Node','.ICO','Express','.JSON','SSR','.COM',
        'Mongoose ORM','.TTF','Git','GitHub','.OTF','VS Code',
        'Command Line','Terminal','SEO','Bash','Full-Stack',
        'JavaScript','Development','Deployment','Production',
        'CRUD','Database','.PNG'
      ]
      let shuffled = []
      let iterations = tech.length
      for (let i=0;i<iterations;i++){
        let j = Math.floor(Math.random() * tech.length)
        shuffled.push(tech[j])
        tech.splice(j,1)
      }
      let techLogos = [
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/vsCode2.png?v=1721948128077',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/github.png?v=1721948666228',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/node3.png?v=1721950120512',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/Expressjs2.png?v=1721950540199',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/npm4.png?v=1721956811433',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/html2.png?v=1721949274190',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/css4.png?v=1721949445632',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/JS4.png?v=1721946596174',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/mongoDB3.png?v=1721945729589',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/git2.png?v=1721947049020',
        'https://cdn.glitch.global/548bda4c-3b17-418d-b393-0e7ad8bf72f4/bash2.png?v=1721948448119',
      ]
      let shuffledLogos = []
      iterations = techLogos.length
      for (let i=0;i<iterations;i++){
        let j = Math.floor(Math.random() * techLogos.length)
        shuffledLogos.push(techLogos[j])
        techLogos.splice(j,1)
      }
console.log(shuffled)
%>

</head>
<body>
  
    <div id="logo">
      <div class="scrolling_text">  
        <div class="text">
          &nbsp;
          <% for(let i=0;i<shuffled.length;i++){ %>
              <%= shuffled[i] %> / 
          <%}%>
        </div>  
        <div class="text">
          <% for(let i=0;i<shuffled.length;i++){ %>
              <%= shuffled[i] %> / 
          <% } %>      
        </div>  
      </div>

      <div class="scrolling_logos">  
        <div class="logos">
          <% for(let i=0;i<shuffledLogos.length;i++){ %>
              <img class='tech-logo' src='<%= shuffledLogos[i] %>'>
          <% } %>
        </div>  
        <div class="logos">
          <% for(let i=0;i<shuffledLogos.length;i++){ %>
              <img class='tech-logo' src='<%= shuffledLogos[i] %>'>
          <% } %>      
        </div>  
      </div>
      
      
        <div class="col">
            <div class="code">c</div>
            <div class="software">S</div>
        </div>
        <div class="col">
            <div class="code">o</div>
            <div class="software">O</div>
        </div>
        <div class="col">
            <div class="code">d</div>
            <div class="software">F</div>
        </div>
        <div class="col">
            <div class="code">e</div>
            <div class="software">T</div>
        </div>
        <div class="col">
            <div class="base">b</div>
            <div class="software">W</div>
        </div>
        <div class="col">
            <div class="base">a</div>
            <div class="software">A</div>
        </div>
        <div class="col">
            <div class="base">s</div>
            <div class="software">R</div>
        </div>
        <div class="col">
            <div class="base">e</div>
            <div class="software">E</div>
        </div>
    </div><br>
    <span id="url">CodeBaseSoftware.com</span>
  <footer>
    &copy;2024 CodeBase Software. All Rights Reserved. Stamford, CT 06905, CodeBaseSoftware.com
  </footer>
</body>
</html>